@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  color: var(--textColorBlack);
}

:root{
  --widthApp:60vw;
  --backgroundApp:rgb(30, 30, 42);
  --backgroundSection:#1E1E2A;
  --textColorBlack:#f3f3f3;
  --primaryColor:#4164ad;
  --listBackground:#191923;
  --backgroundProfil:linear-gradient(to right, #2A2E3B, #272933);
  --shadowColor:rgba(0, 0, 0, 0.164);
  --loader:rgba(30, 30, 42, 0.87);
}

html[theme="white"]:root{
  --backgroundApp:rgb(245, 245, 245);
  --backgroundSection:#f5f5f5;
  --textColorBlack:#3f3f3f;
  --primaryColor:#4164ad;
  --listBackground:#eeeeee;
  --backgroundProfil:linear-gradient(to right, #536cb8d7, #4163adbe);
  --shadowColor:rgba(0, 0, 0, 0.068);
  --loader:rgba(255, 255, 255, 0.884);
}

body{
  background-color: var(--backgroundApp);
}

.center_container{
  width: var(--widthApp);
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.fade_container{
  animation: fade 0.2s linear;
}

.app_footer_svg{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  pointer-events: none;
}

@keyframes fade{
  0%{opacity: 0;}
  100%{opacity: 1;}
}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--backgroundApp);
}

::-webkit-scrollbar-thumb {
  background: var(--primaryColor);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primaryColor);
}